* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.scroll {
  width: 100%;
  background-color: red;
  height: 10px;
  position: fixed;
}
.bar {
  background-color: #fdfdfd;
  height: 8px;
  border-radius: 9px;
  width: 0%;
  /* position: fixed; */
  /* z-index: -100; */
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #444343;
  /* width: 100%; */
  /* height: 1000vh; */
  /* position: fixed; */
  left: 180px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: white;
}

.navlinks {
  justify-content: space-between;
  display: flex;
  width: 500px;
  align-items: center;
  text-decoration: none;
  padding: 14px 12px;
  border-radius: 10px;
  /* border: solid saddlebrown; */
  /* transition-duration: 0.4s; */
  /* background-color: blue; */
}

.navlinks li {
  flex-shrink: 1;
  list-style: none;
  display: flex;
  /* padding: 1r 2rem; */
  font-size: larger;

  /* border-radius: 30px; */
}
.navlinks li a {
  border: solid 1px rgb(76, 97, 104);
  /* background-color: red; */
  padding: 18px 20px;
  border-radius: 30px;
}
.navlinks li a:hover {
  background-color: coral;
  transition: 0.4s ease-in-out;
}

.bgColor {
  background-color: white;
  text-decoration: none;
  color: black;
  /* margin-top: 10px; */
}

main {
  color: white;
  background-image: url(../../assets/derrick/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.92);
}
.myselfContainer {
  padding: 170px 80px;
  display: flex;
}
.myselfText {
  padding-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.myselfText p {
  font-size: 1.7rem;
}
.myselfText h1 {
  color: coral;
  font-size: 60px;
  font-family: gabarito;
  /* overflow: hidden; */
  /* animation: animate 3s linear forwards; */
}
.myself-heading {
  /* border: solid honeydew; */
  padding-bottom: 1rem;
}
.myselfImage {
  width: 40%;
  padding-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.myselfImage img {
  --s: 15px;
  --b: 2px;
  --w: 300px;
  --c: #7b3b3b;
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}
section {
  padding: 5rem 3rem;
  background-color: rgb(19, 15, 10);
}
.review-card {
  color: white;
  font-size: 1.7rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.review-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.review-text h1 {
  color: coral;
  font-size: 60px;
  font-family: gabarito;
  padding-bottom: 40px;
}
article {
  padding: 8rem 3rem;
  background-color: #110909;
  /* overflow-x: scroll; */
  /* overflow-x: hidden; */
}
.iframe-wrapper {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  border-bottom: solid coral;
  border-top: solid coral;
  gap: 4rem;
  padding: 6rem 2rem;
  /* overflow-x: scroll; */
  /* overflow-x: auto; */
}
footer {
  background-color: rgb(24, 23, 23);
  color: white;
  font-size: 1.7rem;
  padding: 4rem 3rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid coral;
  border-right: solid coral;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 3rem;
  margin: 4rem 0;
}
.proceed-btn {
  text-align: center;
  border: solid 1px coral;
  padding: 1rem;
  width: 200px;
  border-radius: 1rem;
  margin-top: 1rem;
  transition-duration: 0.4s;
}
.proceed-btn:hover {
  background-color: rgb(202, 95, 56);
}
.contact-card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: black;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 3rem;
  margin-top: 10px;
}
.contact-card h3 {
  padding-bottom: 2rem;
}
.contact-card-1 {
  display: flex;
  flex-direction: column;
}
.contact-details {
  display: flex;
  flex-direction: row;
  gap: 8px;
  /* justify-content: center; */
  align-items: center;
  /* border: solid lawngreen; */
}
.contact-details .bx {
  font-size: 26px;
  color: rgb(172, 68, 68);
}

.contact-details div {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: salmon; */
  position: relative;
}
.contact-details svg {
  height: 30px;
  width: 30px;
  left: 100px;
}
.social-media-links-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.social-media-links-wrapper .bx {
  font-size: 30px;
  border-radius: 50%;
  padding: 6px;
  color: black;
  transition: 0.4s ease-in-out;
}
.social-media-links-wrapper .bx:hover {
  background-color: black;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
input {
  padding: 0.3rem;
  padding-left: 0.4rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  font-size: 15px;
  background: #ebfffc;
}

textarea {
  resize: none;
  border: 0;
  outline: 0;
  background: #ebfffc;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  font-size: 15px;
  justify-content: end;
  vertical-align: middle;
}

.btn {
  width: fit-content;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #65b1a8;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #7ef5e7;
}
.side-nav,
.sidebar,
.menu-bar {
  display: none;
}

@media screen and (max-width: 480px) {
  .navbar-mobile {
    display: block;
  }
  .navbar {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
  }
  .navbar img {
    width: 70px;
    height: 30px;
  }
  .navlinks li {
    padding: 0.2rem 0.5rem;
    font-size: 16px;
    border-radius: 30px;
  }
  .navlinks {
    justify-content: end;
    gap: 1rem;
    width: fit-content;
  }

  .bgColor {
    display: none;
  }
  .navbar h1 {
    font-size: 20px;
  }
  .myselfContainer {
    flex-direction: column;
    /* padding-top: 6rem; */
    padding: 3rem 20px 7rem 20px;
    gap: 4rem;
  }
  .myselfText p {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .myselfText h1 {
    color: coral;
    font-size: 2rem;
  }
  .myselfText h3 {
    color: coral;
    font-size: 1.5rem;
  }

  .myselfText {
    width: 100%;
  }

  .myselfImage {
    width: 100%;
    padding: 1rem;
  }
  .review-card {
    color: white;
    font-size: 1rem;
    padding: 1rem 20px 7rem 20px;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  .review-text {
    width: 100%;
  }
  .review-text h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    width: fit-content;
  }
  .review-image {
    padding-top: 0;
    height: 250px;
    width: 250px;
  }

  .iframe-wrapper {
    display: flex;
    /* gap: 1.2rem; */
    overflow-x: scroll;
    padding: 4rem 2rem;
  }
  iframe {
    width: 300px;
    height: 220px;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  section {
    padding: 60px 20px 60px 20px;
    padding-bottom: 1rem;
  }
  footer {
    padding-bottom: 11rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-container p {
    font-size: 1rem;
  }
  .footer-container {
    gap: 2rem;
  }
  .footer-container a {
    font-size: 1rem;
  }
  .weatherPage {
    padding: 2rem 2rem;
    margin: 4rem 1rem;
    gap: 2rem;
    /* justify-content: center; */
    align-items: center;
  }
  .proceed-btn {
    padding: 10px;
    width: 100px;
    border-radius: 1rem;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: black;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    flex-shrink: 1;
  }
  .contact-card h3 {
    padding-bottom: 1rem;
    font-size: 18px;
  }
  input,
  textarea {
    width: 100%;
  }
  .menu-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 20px;
    width: fit-content;
    padding: 0 16px;
    border-radius: 2rem;
    background-color: rgb(13, 13, 61);
    z-index: 1000;
  }
  .menu-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
  }
  .menu-bar-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 14px 12px;
    border-radius: 10px;
  }
  .menu-bar .icon {
    color: white;
    font-size: 30px;
    border-radius: 50%;
    padding: 8px;
    transition: 0.4s;
  }
  .menu-bar .icon:hover {
    color: black;
    background-color: dodgerblue;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .side-nav {
    display: none;
  }
  .myselfContainer {
    flex-direction: column;
    padding-top: 6rem;
    padding: 8rem 20px 60px 20px;
  }
  .myselfText p {
    font-size: 1.6rem;
    padding: 0.3rem;
  }
  .myselfText h1 {
    color: coral;
    font-size: 4rem;
  }
  .myselfText h3 {
    color: coral;
    font-size: 2.6rem;
  }
  .myselfText {
    width: 100%;
  }
  .myselfImage {
    width: 100%;
    padding: 1rem;
  }
  .review-card {
    flex-direction: column;
  }
  .review-text {
    width: 100%;
  }
  .review-text h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    width: fit-content;
  }
  .review-image {
    padding-top: 3rem;
    height: 400px;
    width: 400px;
  }
  .review-image img {
    width: 10px;
    height: 10px;
  }
  .iframe-wrapper {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  iframe {
    width: 300px;
    height: 260px;
  }
  article {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-card {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 60px 20px 60px 20px;
  }
  .review-card {
    color: white;
    font-size: 1.6rem;
    padding: 0.3rem;
    display: flex;
  }
  .footer-container p {
    font-size: 1.6rem;
  }
  .footer-container a {
    font-size: 1.6rem;
  }
  .weatherPage {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  .proceed-btn {
    padding: 10px;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    flex-shrink: 1;
  }
  .contact-card h3 {
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  .social-media-links-wrapper .bx {
    font-size: 36px;
    padding: 16px;
  }
  .contact-details .bx {
    font-size: 30px;
  }
  .contact-details svg {
    width: 30px;
    /* height: 100px; */
  }
  .contact-card p {
    font-size: 1.6rem;
  }
  input,
  textarea {
    font-size: 1.2rem;
    width: 100%;
  }
  form .btn {
    font-size: larger;
  }
}
