* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    width: 50px;
    height: 0px;
  }
  60% {
    width: 50px;
    height: 80px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: white;
}

.navlinks {
  justify-content: space-between;
  display: flex;
  width: 500px;
  transition-duration: 0.4s;
}

.navlinks :hover {
  background-color: coral;
  transition-duration: 0.4s;
}

.navlinks li {
  flex-shrink: 1;
  list-style: none;
  display: flex;
  padding: 1rem 2rem;
  font-size: larger;
  border: solid 1px rgb(76, 97, 104);
  border-radius: 30px;
}

.bgColor {
  background-color: white;
  text-decoration: none;
  color: black;
}

main {
  color: white;
  background-image: url(../../assets/derrick/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.92);
}
.myselfContainer {
  padding: 170px 80px;
  display: flex;
}
.myselfText {
  padding-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.myselfText p {
  font-size: 1.7rem;
}
.myselfText h1 {
  color: coral;
  font-size: 50px;
  font-family: gabarito;
  overflow: hidden;
  animation: animate 3s linear forwards;
}
.myselfText h3 {
  color: coral;
  font-size: 30px;
  font-family: gabarito;
  overflow: hidden;
  animation: animate 3s linear forwards;
}

.myselfImage {
  width: 40%;
  padding-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 1rem;
}
.myselfImage img {
  --s: 15px;
  --b: 2px;
  --w: 300px;
  --c: #7b3b3b;
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}
section {
  padding: 3rem;
  background-color: rgb(19, 15, 10);
}
.review-card {
  color: white;
  font-size: 1.7rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.review-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.review-text h1 {
  color: coral;
  font-size: 60px;
  font-family: gabarito;
}
article {
  padding: 3rem;
  background-color: #110909;
}
.iframe-wrapper {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  border-bottom: solid coral;
  border-top: solid coral;
  gap: 4rem;
  padding: 4rem 2rem;
  /* overflow-x: auto; */
}
footer {
  background-color: black;
  color: white;
  font-size: 1.7rem;
  padding: 1rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid coral;
  border-right: solid coral;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 3rem;
  margin-bottom: 3rem;
}
.proceed-btn {
  text-align: center;
  border: solid coral;
  padding: 1rem;
  width: 200px;
  border-radius: 1rem;
  margin-top: 1rem;
  transition-duration: 0.4s;
}
.proceed-btn:hover {
  background-color: coral;
}
.contact-card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: black;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 3rem;
}
.contact-card h3 {
  padding-bottom: 2rem;
}
.contact-card-1 {
  display: flex;
  flex-direction: column;
}
.contact-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact-details p {
  align-self: center;
}
.contact-details a {
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
input {
  padding: 0.3rem;
  padding-left: 0.4rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  font-size: 15px;
  background: #ebfffc;
}

textarea {
  resize: none;
  border: 0;
  outline: 0;
  background: #ebfffc;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  font-size: 15px;
  justify-content: end;
  vertical-align: middle;
}

.btn {
  width: fit-content;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #72c7bd;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #76eee0;
}
@media screen and (max-width: 320px) {
  .navbar {
    flex-direction: row;
    flex-shrink: 1;
    padding-left: 0;
  }
  .navlinks li {
    padding: 0 3px;
  }
  .navbar img {
    width: 60px;
  }
}

@media (min-width: 32px) and (max-width: 480px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
  }
  .navbar img {
    width: 70px;
    height: 30px;
  }
  .navlinks li {
    padding: 0.2rem 0.5rem;
    font-size: 16px;
    border-radius: 30px;
  }
  .navlinks {
    justify-content: end;
    gap: 1rem;
    width: fit-content;
  }

  .bgColor {
    display: flex;
  }
  .navbar h1 {
    font-size: 20px;
  }
  .myselfContainer {
    flex-direction: column;
    padding-top: 6rem;
    padding: 8rem 20px 60px 20px;
  }
  .myselfText p {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .myselfText h1 {
    color: coral;
    font-size: 2rem;
  }
  .myselfText h3 {
    color: coral;
    font-size: 1.5rem;
  }

  .myselfText {
    width: 100%;
  }

  .myselfImage {
    width: 100%;
    padding: 1rem;
  }
  .review-card {
    color: white;
    font-size: 1rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
  }
  .review-text {
    width: 100%;
  }
  .review-text h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    width: fit-content;
  }
  .review-image {
    padding-top: 0;
  }

  .iframe-wrapper {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    gap: 1.2rem;
  }
  iframe {
    width: 250px;
    height: 180px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*  
  .menu-btn {
    display: block;
  }
  .sidebar {
    display: block;
  } */
  section {
    padding: 60px 20px 60px 20px;
  }

  .footer-container p {
    font-size: 1rem;
  }
  .footer-container a {
    font-size: 1rem;
  }
  .weatherPage {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  .proceed-btn {
    padding: 10px;
    width: 100px;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .contact-card h3 {
    padding-bottom: 1rem;
    font-size: 18px;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .navbar {
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    flex-direction: row;
    padding-left: 0;
  }
  .navbar img {
    width: 70px;
    height: 30px;
  }
  .navbar h1 {
    font-size: 20px;
  }
  .navlinks li {
    padding: 0.2rem 0.5rem;
    font-size: 22px;
    border-radius: 30px;
  }
  .navlinks {
    justify-content: space-around;
  }
  .bgColor {
    display: flex;
    justify-content: space-between;
  }
  .myselfContainer {
    flex-direction: column;
    padding-top: 6rem;
    padding: 8rem 20px 60px 20px;
  }
  .myselfText p {
    font-size: 1.6rem;
    padding: 0.3rem;
  }
  .myselfText h1 {
    color: coral;
    font-size: 4rem;
  }
  .myselfText h3 {
    color: coral;
    font-size: 2.6rem;
  }
  .myselfText {
    width: 100%;
  }
  .myselfImage {
    width: 100%;
    padding: 1rem;
  }
  .review-card {
    flex-direction: column;
  }
  .review-text {
    width: 100%;
  }
  .review-text h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    width: fit-content;
  }
  .review-image {
    padding-top: 3rem;
  }
  .review-image img {
    width: 10px;
    height: 10px;
  }
  .iframe-wrapper {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    gap: 1.2rem;
  }
  iframe {
    width: 250px;
    height: 180px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-card {
    display: flex;
    flex-direction: column;
  }
  /* .menu-btn {
    display: block;
  }
  .sidebar {
    display: block;
  } */
  section {
    padding: 60px 20px 60px 20px;
  }
  .review-card {
    color: white;
    font-size: 1.6rem;
    padding: 0.3rem;
    display: flex;
  }
  .footer-container p {
    font-size: 1.6rem;
  }
  .footer-container a {
    font-size: 1.6rem;
  }
  .weatherPage {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  .proceed-btn {
    padding: 10px;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .contact-card h3 {
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  .contact-card p {
    font-size: 1.6rem;
  }
  input,
  textarea {
    font-size: 1.2rem;
  }
}
