
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Montserrat:wght@400;500;700&family=Roboto:wght@700;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.scroll {
  width: 100%;
}
.line { 
  background: rgb(51, 99, 209); 
  height: 8px; 
  border-radius: 4px; 
  width: 0%; 
  position: fixed; 
  top: 0; 
  z-index: 100;
} 

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

.menu {
  width: 2rem;
  height: 2rem;
  display: none;
}
.close {
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}
nav {
  background-image:linear-gradient( to right bottom, rgba(42, 162, 248, 0.5), rgb(3, 89, 150));
  position: fixed;
  top: 0;
  z-index: 50;
  padding: 1rem;
  width: 100%;
  display: flex;
}

ul {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li a:hover {
  text-shadow: 2px 2px 5px #000;
}

li {
  list-style: none;
}

.links {
  display: flex;
  gap: 3rem;
}

header {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
header h1 {
  position: relative;
  font-size: 3.2rem;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: rgb(42, 44, 46);
  text-shadow: 0 0 .3rem rgba(20, 83, 117, 0.55);
  margin-bottom: 1rem;
  backface-visibility: hidden;
  animation: moveInLeft 1.5s ease-in-out;
}

.front {
  margin-left: 1rem;
  color: dodgerblue;
  position: absolute;
  z-index: 30;
  background-color: #fff;
  animation:moveOutTop 3s ease-in-out 3s 1 ;
}

.web {
  position: absolute;
  margin-left: 1rem;
  z-index: 10;
  color: rgb(124, 96, 248);
  backface-visibility: hidden;
}


header h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  position: absolute;
  z-index: 20;
  color: rgb(42, 44, 46);
}


.bel-text {
  background-color: #fff;
  animation:moveOutTop 5s ease-in-out 3s 2;
}

.kola {
  width: 120px;
  transform: translate(10rem, .8rem);
}


@keyframes moveInLeft {

  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }

  80% {

  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
 
}

@keyframes moveInLeft2 {

  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }

  80% {

  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
 
}

@keyframes moveInRight {

  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  
  50% {
    opacity: 1;

  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
 
}

@keyframes moveInTop {

  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  
  50% {

  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
 
}


@keyframes moveOutTop {

  0% {
    opacity: 1;
    transform: translate(0);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
 
 
}


.text {
  padding: 2rem 0;
  line-height: 2.2rem;
  font-weight: 500;
  flex: 1;
}

.view-joke {
  padding: 1rem;
  background-color:rgb(108, 106, 212) ;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
  text-align: center;
} 
.view-joke:hover {
  background-color: rgb(94, 172, 250);
  box-shadow: 2px 5px 8px rgba(44, 6, 111, 0.63);
}

.my-photo {
  flex: 1;
  background-image: url(/assets/back-3.png);
  background-size: calc(700px);
  background-repeat: no-repeat;
  background-position: center;
  animation: moveInTop 1.5s ease-out;
}
.photo {
  animation: moveInRight 2s ease-in-out;
  width: 600px;
  z-index: 10;
}

.background {
 margin-top: 7rem;
}


.review-con{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Merriweather', serif;
}

/* iframe */

.iframes {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

iframe {
  border-radius: 10px;
  width: 530px;
  height: 300px;

}

/* contact */
.contact-container {
  margin-top: 10rem;
}
.contact {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: rgb(103, 103, 220);
  text-shadow: 0.1rem 0.2rem .3rem rgba(20, 83, 117, 0.55);
  font-size: 3rem;
  /* margin-bottom: 8rem; */
}

.left img {
  width: 700px;
}

form {
  background-color: rgb(132, 192, 252);
  border-radius: 1rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

input {
  width: 30rem;
  height: 4rem;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
}

textarea {
  border: none;
  border-radius: .5rem;
  outline: none;
  font-size: 18px;
  padding: 10px;
}

button {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: rgb(18, 136, 255);
  border-radius: 2rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 3px;
  border-bottom: 4px solid rgb(111, 169, 236);
  cursor: pointer;
}

button:hover {
  background-color: rgb(108, 106, 212);
}



a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}




/*   *************    JOKE  APP  ***********          */




.wrapper { 
  width: 80vmin;
  padding: 50px 40px;
  background-color: rgb(35, 35, 36);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
}

.emoji {
  display: block;
  text-align: center;
  font-size: 100px;
}

h4 {
  font-size: 1.5rem;
  font-family:'Montserrat', sans-serif;
  color: #fff ;
  font-weight: 300;
  line-height: 35px;
  word-wrap: break-word;
  margin: 30px 0;
  text-align: center;
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 1s;
}

#btn {
  background-color: orange;
  border: none;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  padding: 15px 12px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* MAIL SENT */

.mail-recieved {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(110, 62, 253);
  border-radius: 2rem;
  box-shadow: .2rem .3rem 1rem #0000009d;
  text-shadow: .1rem .1rem .2rem #0000009d;
  padding: 2rem;
  text-align: center;

}

.success {
  font-size: 3rem;
  font-weight: 700;
  padding: .5rem;
  color: #e8e2e2;
  font-family: 'Montserrat', sans-serif;

}

.recieved {
  color: #fca8fc;
  font-size: 1.5rem;
  font-weight: 500;
}

.mail {
  width: 90%;
}


/*  ****** MEDIA QUERIES  ****** */


@media screen and (max-width: 1200px) {
  
p {
  font-size: 1.2rem;
}
a {
  font-size: 1rem;
}
  .container {
    width: 1180px;
    padding:0 auto;  
  }
  
  ul {
    width: 1190px;
  }

  header h1 {
    font-size: 2.7rem;
  }
  
  header h2 {
    font-size: 2.5rem;
  }
  
  .kola {
    width: 90px;
    transform: translate(8rem, .5rem);
  }
  
  .my-photo {
    background-size: calc(500px);
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo {
    width: 400px;
  }
  
.left img {
  width: 500px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.intro {
  padding-top: 3rem;
}

.text {
  width: 90%;
  padding: 1rem 0;
  line-height: 1.5rem;
  text-align: left;
  flex:none;
}

.view-joke {
  margin-top: 1rem;
} 

.review-con{
  margin-top: 5rem;
}

#review img {
  width: 500px;
}

h2 {
  font-size: 2.5rem;
}


/* contact */
.contact-container h2 {
  text-align: center;
}
.contact {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
}

form {
  width: 40%;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  width: 100%;
}



  }
  

@media screen and (max-width: 900px){
  
p{
  font-size: 1.2rem;
}

.container {
  width: 800px;
  padding: 0 auto;
}


ul {
  width: 100%;
}


.links {
  gap: 2.5rem;
}

header {
  width: 100%;
  flex-direction: column-reverse;
}
header h1 {
  margin-top: -6rem;
  font-size: 3rem;
  text-shadow: 1px 2px 5px rgba(44, 6, 111, 0.63);
}

.text {
  padding: 2rem 0;
  line-height: 1.5rem;
  text-align: left;
}

.view-joke {
  margin-top: 1rem;
} 

.my-photo {
  background-size: calc(580px);
}
.photo {
  width: 470px;
}


.review-con{
  margin-top: 5rem;
}

#review img {
  width: 400px;
}

h2 {
  font-size: 2.5rem;
}

.bel-text {
  width: 250px;
}

.kola {
  width: 120px;
  transform: translate(10rem, .2rem);

}

/* contact */
.contact-container {
  margin-top: 10rem;
}

.contact-container h2 {
  text-align: center;
}
.contact {
  margin-top: 2rem;
  flex-direction: column;
}

h3 {
  text-shadow: 0 0.1rem .3rem rgba(20, 83, 117, 0.55);
  font-size: 2.5rem;
  text-align: center;
}

.left img {
  width: 00px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

form {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

input {
  width: 100%;
  height: 3.5rem;
}

a {
  font-size: 1.2rem;
}


}

@media only screen and (max-width: 850px){
  
p{
  font-size: 1.2rem;
}

.container {
  width: 830px;
  padding: 0 auto;
}

ul {
  width: 830px;
}


.links {
  gap: 2.5rem;
}

header {
  width: 100%;
  flex-direction: column-reverse;
}
header h1 {
  margin-top: -6rem;
  font-size: 3rem;
  text-shadow: 1px 2px 5px rgba(44, 6, 111, 0.63);
}

.text {
  padding: 2rem 0;
  line-height: 1.5rem;
}

.view-joke {
  margin-top: 1rem;
} 

.my-photo {
  background-size: calc(580px);
}
.photo {
  width: 470px;
}


.review-con{
  margin-top: 5rem;
}

#review img {
  width: 400px;
}

h2 {
  font-size: 2.5rem;
}

.bel-text {
  width: 250px;
}

.kola {
  width: 120px;
  transform: translate(10rem, .2rem);

}

/* contact */
.contact-container {
  margin-top: 10rem;
}
.contact-container h2 {
  text-align: center;
}
.contact {
  margin-top: 2rem;
  flex-direction: column;
}

h3 {
  text-shadow: 0 0.1rem .3rem rgba(20, 83, 117, 0.55);
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.left img {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

input {
  width: 100%;
  height: 3.5rem;
}

a {
  font-size: 1.2rem;
}


}



@media screen and (max-width: 500px){
   
  p{
    font-size: 1rem;
  }
  
  .container {
    width: 100%;
    padding: .5rem;
  }
  
  .menu {
    display: block;
   position: fixed; 
   top: 1rem;
   left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(179, 216, 253);
    border-radius: 50%;
    padding: .5rem;
    z-index: 40;
  }

  .close {
    position: fixed;
    z-index: 160;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: 900;
    text-align: center;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    display: none;
  }
  nav {
    padding: 4rem 1rem;
    width: 50%;
    height: 100vh;
    display: none;
    z-index: 100;

  }
  
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  
  .links {
    flex-direction: column;
    display: flex;
    gap: .5rem;
  }
  
  /* HEADER */
  
  header {
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
  
header {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
header h1 {
  font-size: 1.6rem;
  text-shadow: 0 0 .1rem rgba(20, 83, 117, 0.55);
  margin-top: 2px;
}


header h2 {
  font-size: 1.5rem;
  margin-top: -10px;
}

.kola {
  width: 80px;
  transform: translate(6rem, -.2rem);
}

  
  .text {
    padding: 1rem 0;
    line-height: 1.5rem;
  }
  
  .view-joke {
    margin-top: 1.5rem;
    padding: .5rem;
  } 
  
  .my-photo {
    background-size: calc(400px);
  }
  .photo {
    display: flex;
    justify-content: center;
    width: 350px;
  }
  
  .background {
   margin-top: 7rem;
  }
  
  .review-con{
    width: 100%;
    flex-direction: column;
  }
  
  #review img {
    width: 350px;
  }

  #review p{
    text-align: justify;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
  }


  
  /* iframe */
  
  
  iframe {
    border-radius: 5px;
    width:420px;
    height:250px;
  
  }
  
  /* contact */
  .contact-container {
    margin-top: 10rem;
  }
  .contact {
    margin-top: 1rem;
    display: block;
  }
  
  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .left img {
    width: 320px;
  }
  
  form {
    margin-top: 2rem;
    padding: 1rem;
    gap: .8rem;
  }
  
  input {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
  }
  
  button {
    padding: .6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  
  a {
    font-size: 1rem;
    padding: .2rem;
  }
  
  /*   *************    JOKE  APP  ***********          */
  
  h4 {
    font-size: 1.2rem;
  }
  
  
.mail-recieved {
  width: 80%;
  text-shadow: 0 .1rem .1rem #0000009d;
  padding: 1rem;
}

.success {
  font-size: 1.6rem;
}

.recieved {
  font-size: 1rem;
}

.mail {
  width: 90%;
}
.success-btn a {
  font-size: .7rem;
  margin-bottom: 4rem;
}
   
  }
  